body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header_top_promo {
  overflow: hidden;
  height: 78px;
  border-bottom: 4px solid #54b948;  
}

.header_top_promo_left {
  float: left;
  width: 280px;
}

.header_top_promo_right {
  position: relative;
  float: right;
  width: 231px;
}

.header_top_promo_right::before {
  position: absolute;
  content: "";
  
  top: 0;
  left: 220px;
  
  height: 78px;
  width: 10px;
  padding-left: 999999px;
  
  background: #0067c5;
}

.header_download_section {
  position: relative;
  min-height: 522px;
  
  padding-top: 24px;
  padding-bottom: 59px;
  
  background: no-repeat center url(../img/bg_header.jpg) #e3e9eb;
  background-size: cover;
}

.download_section {
  width: 883px;
  min-height: 471px;
  
  padding-top: 24px;
  padding-right: 14px;
  padding-left: 43px;
  padding-bottom: 27px;
  
  font-size: 0;
  
  background: #0067c5;
}

.download_section_text {
  display: inline-block;
  vertical-align: top;
  
  width: 473px;
  
  margin-top: 21px;
  margin-right: 41px; 
}

.download_section_text p {
  display: inline-block;
  vertical-align: middle;
  
  min-width: 102px;
  min-height: 44px;
  
  margin: 0;
  
  text-align: center;
  font-size: 30px;
  line-height: 44px;
  font-weight: bold;
  color: #f13037;
  text-transform: uppercase;
  
  background-color: #fff;
}

.download_section_text h1 {
  text-align: left;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
  font-weight: normal;
}

.download_section_form {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  
  width: 369px;
  min-height: 471px;
  
  padding-top: 10px;
  
  text-align: left;
  font-size: 14px;
  
  border: 3px solid #3482ca;
  background-color: #1a76cb;
}

.download_section_form fieldset {
  margin: 0;
  padding: 10px 20px 30px 20px;
  border: none;
}

.download_section_form legend {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #fff;
}

.download_section_form input {
  box-sizing: border-box;
  
  width: 100%;
  height: 40px;
  
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 10px;
  
  border: 1px solid #dedede;
}

.download_section_form select {
  box-sizing: border-box;
  
  color: #888;
  
  width: 100%;
  height: 40px;
  
  padding-left: 10px;
  padding-right: 25px;
  margin-bottom: 29px;
  
  border: 1px solid #dedede;
}

.download_section_form button {
  box-sizing: border-box;
  
  width: 100%;
  
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  
  border: none;
  background-color: #f13037;
}


.header_bottom_info {
  padding-top: 43px;
  background-color: #e5e9ee;
}

.preview_image {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.preview_image figure {
  margin: 0;
}

.preview_image figcaption {
  text-align: center;
  color: #666;
  font-family: "Droid Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.header_bottom_info p {
  display: inline-block;
  vertical-align: top;
  
  width: 573px;
  
  margin-left: 36px;
  
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}