body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  margin-top: 30px;
  margin-bottom: 38px;
  
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #444;
}

h3 {
  margin: 5px 0;
  
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  color: #444;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.container {
  max-width: 910px;
  margin: 0 auto;
  padding: 0 10px;
}

.header_top_promo .container,
.header_download_section .container {
  max-width: 940px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.link {
  position: relative;
  
  padding-right: 21px;
  padding-left: 43px;
  margin-right: 21px;
  
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  color: #1091c7;
  text-decoration: none;
}

.link_social {
  position: relative;
}

/*Sprites*/

.link::before,
.link_social::before {
  position: absolute;
  left: 0;
  content: "";
  
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}

.link_social::before {
  left: -33px;
  top: 0;
}

.sprite_logo_fb::before {
    width: 21px;
    height: 21px;
    background-position: -5px -5px;
}

.sprite_logo_lin::before {
    width: 21px;
    height: 21px;
    background-position: -36px -5px;
}

.sprite_logo_link_blog::before {
    width: 32px;
    height: 25px;
    background-position: -5px -36px;
}

.sprite_logo_link_text::before {
    width: 31px;
    height: 32px;
    background-position: -47px -36px;
}

.sprite_logo_link_video::before {
    width: 32px;
    height: 25px;
    background-position: -88px -5px;
}

.sprite_logo_tw::before {
    width: 21px;
    height: 20px;
    background-position: -88px -40px;
}

.sprite_logo_yt::before {
    width: 21px;
    height: 20px;
    background-position: -88px -70px;
}

/*Sprites end*/

.header_top_promo {
  overflow: hidden;
  height: 78px;
  border-bottom: 4px solid #54b948;  
}

.header_top_promo_left {
  float: left;
  width: 280px;
}

.header_top_promo_right {
  position: relative;
  float: right;
  width: 231px;
}

.header_top_promo_right::before {
  position: absolute;
  content: "";
  
  top: 0;
  left: 220px;
  
  height: 78px;
  width: 10px;
  padding-left: 999999px;
  
  background: #0067c5;
}

.header_download_section {
  position: relative;
  min-height: 522px;
  
  padding-top: 24px;
  padding-bottom: 54px;
  
  background: no-repeat center url(../img/bg_header.jpg) #e3e9eb;
  background-size: cover;
}

.download_section {
  width: 883px;
  min-height: 471px;
  
  padding-top: 24px;
  padding-right: 14px;
  padding-left: 43px;
  padding-bottom: 27px;
  
  font-size: 0;
  
  background: #0067c5;
}

.download_section_text {
  display: inline-block;
  vertical-align: top;
  
  width: 474px;
  
  margin-top: 21px;
  margin-right: 40px; 
}

.download_section_text p {
  display: inline-block;
  vertical-align: middle;
  
  min-width: 102px;
  min-height: 44px;
  
  margin: 0;
  
  text-align: center;
  font-size: 30px;
  line-height: 44px;
  font-weight: bold;
  color: #f13037;
  text-transform: uppercase;
  
  background-color: #fff;
}

.download_section_text h1 {
  margin-top: 36px;
  margin-bottom: 40px;
  
  text-align: left;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
  font-weight: normal;
}

.download_section_form {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  
  width: 369px;
  min-height: 471px;
  
  padding-top: 10px;
  
  text-align: left;
  font-size: 14px;
  
  border: 3px solid #3482ca;
  background-color: #1a76cb;
}

.download_section_form fieldset {
  margin: 0;
  padding: 13px 20px 30px 16px;
  border: none;
}

.download_section_form legend {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #fff;
}

.download_section_form input {
  box-sizing: border-box;
  
  width: 100%;
  height: 40px;
  
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 10px;
  
  border: 1px solid #dedede;
}

.download_section_form select {
  box-sizing: border-box;
  
  color: #888;
  
  width: 100%;
  height: 40px;
  
  padding-left: 10px;
  padding-right: 25px;
  margin-bottom: 29px;
  
  border: 1px solid #dedede;
}

.download_section_form button {
  box-sizing: border-box;
  
  width: 100%;
  
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  
  border: none;
  background-color: #f13037;
}

.download_section_form button:hover {
  background-color: #bd1319;  
}

.download_section_form button:active {
  background-color: #bd4246;  
}

.header_bottom_info {
  padding-top: 39px;
  background-color: #e5e9ee;
}

.preview_image {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.preview_image figure {
  margin: 0;
}

.preview_image figcaption {
  text-align: center;
  color: #666;
  font-family: "Droid Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.header_bottom_info .preview_image {
  margin-top: 7px;
}

.header_bottom_info .wrapper {
  display: inline-block;
  vertical-align: top;
  
  width: 573px;
  
  margin-left: 33px;
  margin-bottom: 60px;
}

.header_bottom_info p {
  margin-bottom: 17px;
  
  font-size: 18px;
  line-height: 28px;
}


/*Main section*/

.features_navigation {
  min-height: 77px;
  
  margin-bottom: 48px;
  
  border: 1px solid rgba(0, 0, 1, 0.08);
  box-shadow: 0 2px 3px rgba(0, 0, 1, 0.12);
}

.features_navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

/*
.features_navigation li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  
  width: 22%;
  
  padding: 25px 26px 25px 0;
  margin: auto;
  
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}

.features_navigation li:first-child {
  padding-left: 0;
  text-align: left;
}
*/

.features_navigation li {
  float: left;
  min-width: 80px;
  
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}

.features_navigation li:first-child {
  padding-left: 0;
}

.features_navigation a {
  text-decoration: none;
  color: #444444;
}

.features_navigation a:hover {
  color: #54b948;
  border-bottom: 2px solid #54b948;
}

.features_navigation .download_link {
  float: right;
  width: 290px;
  
  padding-left: 0;
  padding-right: 0;
  
  text-align: center;
  background-color: #f13037;
}

.features_navigation .download_link a {
  color: #fff;
}

.features_navigation .download_link a:hover {
  color: #54b948;
  border-bottom: 2px solid #54b948;
}


.features_integration {
  margin-top: 30px;
  padding-bottom: 30px;
  
  font-size: 0;
}

.features_integration h2 {
  font-size: 24px;
  line-height: 36px;
}

.features_integration p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.features_column {
  display: inline-block;
  vertical-align: top;
  
  width: 50%;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.features_column ul {
  margin-top: 15px;
  margin-bottom: 20px;
}

.features_integration li,
.features_backup li, 
.features_recovery li {
  margin: 8px 0;
}

.features_integration .img_wrap {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  
  width: 50%;
  
  margin-top: 20px;
  margin-bottom: 35px;
}

.big_preview {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.big_preview figcaption {
  text-align: left;
}

main .link_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  
  width: 470px;
}

main .link_wrap a {
  display: block;
}

.features_backup {
  padding-top: 23px;
  padding-bottom: 60px;
  
  background-color: #e5e9ee;
}

.features_backup .text_section,
.features_recovery .text_section {
  padding-bottom: 40px;
  margin-bottom: 45px;
  border-bottom: 2px solid #cfd4db;
}

.features_recovery .text_section {
  border-bottom: 2px solid #e2e4e7;
}

.features_backup .text_section:last-child,
.features_recovery .text_section:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.features_backup .preview_image:not(.big_preview),
.features_recovery .preview_image:not(.big_preview) {
  float: right;
  max-width: 294px;
  margin-top: 15px;
  margin-left: 40px;
}

.features_backup p,
.features_recovery p {
  margin: 10px 0;
}

.features_backup ol li {
  margin: 13px 0;
}

.features_recovery {
  padding-top: 30px;
  padding-bottom: 60px;
}

.text_wrap {
  width: 600px;
}

.features_recovery .big_preview {
  margin-top: 10px;
}

.storage_section p {
  float: left;
  width: 40%;
}

.storage_section .storage_list {
  float: right;
  width: 55%;
  margin-top: 2px;
}


.storage_section .storage_list li {
  float: left;
  width: 40%;
  margin-right: 50px;
}

.storage_section .storage_list li:nth-child(2n){
  margin-right: 0;
}


/*Footer section*/

.about_text {
  padding-top: 60px;
  padding-bottom: 80px;
  
  background-color: #e5e9ee;
}

.about_text p {
  font-size: 18px;
  line-height: 28px;
}

.footer_links {
  min-height: 363px; 
  
  padding-top: 25px;
  
  color: #fff;
  background-color: #393939;
}

.footer_links .footer_column {
  float: left;
  box-sizing: border-box;
  
  width: 33%;
  min-height: 110px;
  
  border-right: 1px solid #707070;
}

.footer_links .footer_column:last-child {
  border-right: none;
}

.footer_links .copyright_column p{
  font-size: 12px;
  line-height: 21px;
}

.footer_links .copyright_column a:hover,
.footer_links .links_column a:hover, 
.footer_links .social_column a:hover {
  text-decoration: underline;
}

.footer_links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_links a {
  color: #fff;
  text-decoration: none;
}

.footer_links .links_column li{
  float: left;
  box-sizing: border-box;
  
  width: 50%;
  text-align: left;
  
  padding-left: 40px;
  
  font-size: 12px;
  line-height: 30px;
}

.footer_links .social_column li{
  float: left;
  box-sizing: border-box;
  
  width: 50%;
  text-align: left;
  
  padding-left: 70px;
  
  font-size: 12px;
  line-height: 30px;
}